.p-article-wrap {
    padding: 30px;
    background-color: $articleColor;
}
.p-article-ttl {
    text-align: center;
    font-size: 2rem;
}

.p-article-date {
    margin: 10px 0px 20px 0px;
}

.p-article-text {
    line-height: $lineHeight;
    margin-bottom: 30px;
    p img {
        display: block;
        max-width: 100vw;
    }
}

@include pc {
    .p-article-text {
        p img {
            max-width: 50vw;
        }
    }
}



.p-article-tags {
    margin-bottom: 20px;
}

.p-article-rel {
    margin-top: 10px;
    line-height: $lineHeight;
}

.p-article-subttl {
    font-size: 1.5rem;
    margin-bottom: 10px;
}