.p-article-wrap {
    padding: 30px;
    background-color: $articleColor;
}

@include pc {
    .p-article-wrap {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.p-article-ttl {
    text-align: center;
    font-size: 2rem;
}

.p-article-date {
    margin: 10px 0px 20px 0px;
}

//本文のスタイル
.p-article-text {
    img {
        display: block;
    }
    @include textStyle
}

.p-article-tags {
    margin-bottom: 20px;
}

.p-article-rel {
    margin-top: 10px;
    line-height: $lineHeight;
}

.p-article-subttl {
    font-size: 1.5rem;
    margin-bottom: 10px;
}