.p-pager {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    a {
        display: inline-block;
        margin: 0px 10px;
        &:hover {
            color: #ccc;
        }
        &.active {
            color: #999;
            pointer-events: none;
        }
    }
}