.p-prof-area {
    color: white;
}

.p-prof-img {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.p-prof-sitename {
    font-size: 2rem;
}

.p-prof-sitelist {
    margin: 20px 0px;
    padding-left: 0;
    list-style: none;
    color: white;
}

.p-prof-desc {
    font-size: 0.8rem;
}