

.p-summary {
    padding: 30px;
    background-color: $articleColor;
    margin-bottom: 50px;
    color: white;
    &__text {
        @include textStyle
    }
}

@include pc {
    .p-summary {
        max-width: 1000px;
        margin: 0 auto 50px auto;
    }
}