body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: $mainColor;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

//nomalize.css調整
a {
    color: white;
    text-decoration: none;
    &:hover {
        color: #ccc;
    }
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid #ccc;
    color: #ccc;
}