.u-pages-space {
    margin-top: 30px;
    padding: 0px 30px;
}

.u-pages-ttl-space {
    margin-left: 30px;
}

@include pc {
    .u-pages-ttl-space {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}